version: '3.3'

services:
    db: 
        container_name: dbwordpress
        image: mariadb:10.5
        restart: always
        volumes:
            - /opt/compose/data:/var/lib/mysql
        environment:
            MYSQL_ROOT_PASSWORD: admin
            MYSQL_DATABASE: bdwordpress
            MYSQL_USER: admin
            MYSQL_PASSWORD: admin
        networks:
            - wordpress-net
    wordpress:
        container_name: wordpress
        image: wordpress:latest
        depends_on:
            - db
        volumes:
            - ./opt/compose/wordpress:/var/www/html
            - ./opt/compose/php/php.conf.ini:/usr/local/etc/php/conf.d/php.ini
        environment:
            WORDPRESS_DB_NAME: bdwordpress
            WORDPRESS_DB_USER: admin
            WORDPRESS_DB_PASSWORD: admin
            WORDPRESS_DB_HOST: db
        ports:
            - 8080:80
        networks:
            - wordpress-net
        links:
            - db
networks:
    wordpress-net:
        driver: bridge